.projects {
  font-family: 'Ubuntu';
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  color: white;
}

.projects__title {
  text-align: center;
}

.projects__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 40px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .projects__container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
