.page {
  background-color: #1c2025;
  overflow: hidden;
  border: none;
  margin: 0;
  padding: 0;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
}
